<div class="container">
  <div class="row">
    <ng-container *ngFor="let product of productList">
      <div class="card col-sm-4" style="width:400px">
        <img class="card-img-top" style="width:100%" src="{{product.image}}">
          <div class="card-body">
            <h4 class="card-title">{{product.productname}}</h4>
            <p class="card-text">{{product.ingredients}}</p>
            <p class="card-text"><strong>Rs: {{product.price}}</strong></p>
            <button class="btn btn-primary" (click)=addtoCart(product)>Add to Cart</button>
          </div>
        </div>
    </ng-container>
</div>


