<section class="vh-100" style="background-color: #508bfc; background-image: url('https://images.unsplash.com/photo-1514986888952-8cd320577b68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y29va2luZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-6 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h3 class="mb-5">Administrator Sign in</h3>

                    <div class="form-outline mb-4">
                        <form id="login-form" class="form">
                    
                                <label for="username" class="form-label">Username: </label>
                                <input formControlName="username" type="text" class="form-control" id="username">

                    <div class="form-outline mb-4">
                            <label for="password" class="form-label">Password: </label>
                            <input  formControlName="password" type="password" class="form-control" id="password">
                        </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button> 
            </form>
        </div>
    </div>
