<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">  
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
          <h3>Enter new password</h3>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" name=username placeholder="User Name">
            <label for="floatingInput">User Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" name=password placeholder="Enter new Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
          <hr class="my-4">
        </form>
      </div>
    </div>
  </div>
